<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet</title>
    <link rel="stylesheet" type="text/css" href="public/style.css?<%=Time.now.to_i%>">
</head>
<aside class="sidebar">
  <div class="logo">Logo</div>
  <nav>
    <ul class="nav">
      <li><a href="training">Training</a></li>
      <li><a href="diet">Diet</a></li>
      <li><a href="edit">Edit your program</a></li>
      <li><a href="logout">Log out</a></li>
    </ul>
  </nav>
</aside>

<body>
  <div class="container">
    <main class="main">
      <section class="box box-1"></section>
      <section class="box box-2"></section>
      <section class="box box-3"></section>
      <section class="box box-4"><img src="public/img/trainingPic1.png"></section>
      <section class="box box-5">
        <div class="week">
          <div>Mon</div>
          <div>Tis</div>
          <div>Ons</div>
          <div>Tor</div>
          <div>Fre</div>
          <div>Lör</div>
          <div>Sön</div>
        </div>
      </section>
    </main>
  </div>
  

</body>
</html>
