<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training</title>
    <link rel="stylesheet" type="text/css" href="public/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <aside class="sidebar">
    <div class="logo">Logo</div>
    <nav>
      <ul class="nav">
        <li><a href="training">Training</a></li>
        <li><a href="diet">Diet</a></li>
        <li><a href="edit">Edit your program</a></li>
        <li><a href="logout">Log out</a></li>
      </ul>
    </nav>
  </aside>


  <div class="container">
    <main class="main">
      <section class="box box-1"></section>
      <div class="week-container">
      <% @days.each do |day| %>
        <div class="day">
          <p><strong><%= day[:day] %></strong></p>
          <% if day[:exercises].any? %>
            <ul>
              <% day[:exercises].each do |exercise| %>
                <li><%= exercise %></li>
              <% end %>
            </ul>
          <% else %>
            <p>No exercises</p>
          <% end %>
        </div>
      <% end %>
      </div>
      <section class="box box-3"></section>
    </main>
  </div>
</body>
</html>
