<div class="login-container">
  <h1>Unauthorized or log in failed</h1>
  <p><a href="/">Try again</a> or restore your password.</p>
  <div class="signup">
    <h3>Have no account? <a href="/signup">Sign up</a></h3>
  </div>
</div>