<div class="login-container">
  <h1>Logga in</h1>
  
  <form action="/login" method="POST">
    <label for="username">
      Username:
      <input type="text" value="eirik" name="username" id="username" required>
    </label>
    
    <label for="password">
      Password:
      <input type="password" value="189" name="password" id="password" required>
    </label>
    
    <button type="submit">Login</button>
  </form>
  
  <div class="signup">
    <h3>Have no account? <a href="/signup">Sign up</a></h3>
  </div>
</div>
